<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- These meta tags come first. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title>
      Class: Hanami::View::Rendering::LayoutScope
      
        &mdash; Hanami API docs | v1.1.0.rc1
    
    </title>

    <!-- Include the CSS -->
    
      <link rel="stylesheet" href="../../../assets/toolkit-minimal.min.css" type="text/css" charset="utf-8" />
    
      <link rel="stylesheet" href="../../../assets/site.css" type="text/css" charset="utf-8" />
    

    <link href="http://hanamirb.org/images/favicon.ico" rel="icon" type="image/ico">
    <link href="//fonts.googleapis.com/css?family=Roboto:100,300,400,700" rel="stylesheet">

  </head>
  <body>
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top">
      <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">Hanami API docs</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
        </ul>

        <ul class="navbar-nav navbar-right">
          <li class="nav-item">
            <select id="select-version" class="form-control">
              ["<option value='/1.1.0.rc1'>v1.1.0.rc1</option>", "<option value='/1.0.0'>v1.0.0</option>"]
            </select>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
          <iframe id="sidebar" src="../../../method_list.html?1"></iframe>
        </nav>

        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
          <h1>Class: Hanami::View::Rendering::LayoutScope
  
  
  
</h1>
<div class="box_info">
  
  <dl>
    <dt>Inherits:</dt>
    <dd>
      <span class="inheritName">BasicObject</span>
      
    </dd>
  </dl>
  

  
  
  
  
  

  

  
  <dl>
    <dt>Defined in:</dt>
    <dd>gems/gems/hanami-view-1.1.0.rc1/lib/hanami/view/rendering/layout_scope.rb</dd>
  </dl>
  
</div>

<h2>Overview</h2><div class="docstring">
  <div class="discussion">
    
<p>Scope for layout rendering</p>


  </div>
</div>
<div class="tags">
  
<p class="tag_title">Since:</p>
<ul class="since">
  
    <li>
      
      
      
      
        
        <div class='inline'>
<p>0.1.0</p>
</div>
      
    </li>
  
</ul>

</div><div id="subclasses">
  <h2>Direct Known Subclasses</h2>
  <p class="children"><span class='object_link'><a href="Scope.html" title="Hanami::View::Rendering::Scope (class)">Scope</a></span></p>
</div>







  
    <h2>
      Instance Method Summary
      <small><a href="#" class="summary_toggle">collapse</a></small>
    </h2>

    <ul class="summary">
      
        <li class="public ">
  <span class="summary_signature">
    
      <a href="#class-instance_method" title="#class (instance method)">#<strong>class</strong>  &#x21d2; Object </a>
    

    
  </span>
  
  
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'>
<p>Returns the classname as string.</p>
</div></span>
  
</li>

      
        <li class="public ">
  <span class="summary_signature">
    
      <a href="#format-instance_method" title="#format (instance method)">#<strong>format</strong>  &#x21d2; Symbol </a>
    

    
  </span>
  
  
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'>
<p>Returns the requested format.</p>
</div></span>
  
</li>

      
        <li class="public ">
  <span class="summary_signature">
    
      <a href="#inspect-instance_method" title="#inspect (instance method)">#<strong>inspect</strong>  &#x21d2; String </a>
    

    
  </span>
  
  
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'>
<p>Returns an inspect String.</p>
</div></span>
  
</li>

      
        <li class="public ">
  <span class="summary_signature">
    
      <a href="#local-instance_method" title="#local (instance method)">#<strong>local</strong>(key)  &#x21d2; Object, Hanami::View::Rendering::NullLocal </a>
    

    
  </span>
  
  
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'>
<p>It tries to invoke a method for the view or a local for the given key.</p>
</div></span>
  
</li>

      
        <li class="public ">
  <span class="summary_signature">
    
      <a href="#locals-instance_method" title="#locals (instance method)">#<strong>locals</strong>  &#x21d2; Hash </a>
    

    
  </span>
  
  
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'>
<p>The current locals.</p>
</div></span>
  
</li>

      
        <li class="public ">
  <span class="summary_signature">
    
      <a href="#render-instance_method" title="#render (instance method)">#<strong>render</strong>(options)  &#x21d2; String </a>
    

    
  </span>
  
  
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'>
<p>Render a partial or a template within a layout template.</p>
</div></span>
  
</li>

      
        <li class="public ">
  <span class="summary_signature">
    
      <a href="#view-instance_method" title="#view (instance method)">#<strong>view</strong>  &#x21d2; Hanami::View </a>
    

    
  </span>
  
  
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'>
<p>The current view.</p>
</div></span>
  
</li>

      
    </ul>
  

<div id="method_missing_details" class="method_details_list">
  <h2>Dynamic Method Handling</h2>
  <p class="notice this">
    This class handles dynamic methods through the <tt>method_missing</tt> method
    
  </p>
  
    <div class="method_details first">
  <h3 class="signature first" id="method_missing-instance_method">
  
    #<strong>method_missing</strong>(m, *args, &amp;blk)  &#x21d2; <tt>Object</tt>  <span class="extras">(protected)</span>
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    <p class="note private">
  <strong>This method is part of a private API.</strong>
  You should avoid using this method if possible, as it may be removed or be changed in the future.
</p>

<p>Forward all the missing methods to the view scope or to the layout.</p>


  </div>
</div>
<div class="tags">
  
  <div class="examples">
    <p class="tag_title">Examples:</p>
    
      
      <pre class="example code"><code># In the layout template:
#   templates/application.html.erb
#
# Use like this:
&lt;title&gt;&lt;%= article.title %&gt;&lt;/title&gt;

# `article` will be looked up in the view scope first.
# If not found, it will be searched within the layout.</code></pre>
    
  </div>


  <p class="tag_title">See Also:</p>
  <ul class="see">
    
      <li><span class='object_link'><a href="Scope.html" title="Hanami::View::Rendering::Scope (class)">Scope</a></span></li>
    
      <li><span class='object_link'><a href="../../Layout.html" title="Hanami::Layout (module)">Layout</a></span></li>
    
  </ul>
<p class="tag_title">Since:</p>
<ul class="since">
  
    <li>
      
      
      
      
        
        <div class='inline'>
<p>0.1.0</p>
</div>
      
    </li>
  
</ul>

</div><div class="source">
  <p class="source_link">Source:
    <button class="source_show">Show</button>
    |
    <a href="https://github.com/hanami/view/blob/v1.1.0.rc1/lib/hanami/view/rendering/layout_scope.rb#L226" target="_blank" class="github_url">on GitHub</a>
  </p>

  <table class="source_code">
    <tr>
      <td>
        <pre class="code"><span class='kw'>def</span> <span class='id identifier rubyid_method_missing'>method_missing</span><span class='lparen'>(</span><span class='id identifier rubyid_m'>m</span><span class='comma'>,</span> <span class='op'>*</span><span class='id identifier rubyid_args'>args</span><span class='comma'>,</span> <span class='op'>&amp;</span><span class='id identifier rubyid_blk'>blk</span><span class='rparen'>)</span>
  <span class='comment'># FIXME: this isn&#39;t compatible with Hanami 2.0, as it extends a view
</span>  <span class='comment'># that we want to be frozen in the future
</span>  <span class='comment'>#
</span>  <span class='comment'># See https://github.com/hanami/view/issues/130#issuecomment-319326236
</span>  <span class='kw'>if</span> <span class='ivar'>@scope</span><span class='period'>.</span><span class='id identifier rubyid_respond_to?'>respond_to?</span><span class='lparen'>(</span><span class='id identifier rubyid_m'>m</span><span class='comma'>,</span> <span class='kw'>true</span><span class='rparen'>)</span>
    <span class='ivar'>@scope</span><span class='period'>.</span><span class='id identifier rubyid___send__'>__send__</span><span class='lparen'>(</span><span class='id identifier rubyid_m'>m</span><span class='comma'>,</span> <span class='op'>*</span><span class='id identifier rubyid_args'>args</span><span class='comma'>,</span> <span class='op'>&amp;</span><span class='id identifier rubyid_blk'>blk</span><span class='rparen'>)</span>
  <span class='kw'>elsif</span> <span class='id identifier rubyid_layout'>layout</span><span class='period'>.</span><span class='id identifier rubyid_respond_to?'>respond_to?</span><span class='lparen'>(</span><span class='id identifier rubyid_m'>m</span><span class='rparen'>)</span>
    <span class='id identifier rubyid_layout'>layout</span><span class='period'>.</span><span class='id identifier rubyid___send__'>__send__</span><span class='lparen'>(</span><span class='id identifier rubyid_m'>m</span><span class='comma'>,</span> <span class='op'>*</span><span class='id identifier rubyid_args'>args</span><span class='comma'>,</span> <span class='op'>&amp;</span><span class='id identifier rubyid_blk'>blk</span><span class='rparen'>)</span>
  <span class='kw'>else</span>
    <span class='op'>::</span><span class='const'><span class='object_link'><a href="../../../Hanami.html" title="Hanami (module)">Hanami</a></span></span><span class='op'>::</span><span class='const'><span class='object_link'><a href="../../View.html" title="Hanami::View (module)">View</a></span></span><span class='op'>::</span><span class='const'><span class='object_link'><a href="../Escape.html" title="Hanami::View::Escape (module)">Escape</a></span></span><span class='period'>.</span><span class='id identifier rubyid_html'>html</span><span class='lparen'>(</span><span class='kw'>super</span><span class='rparen'>)</span>
  <span class='kw'>end</span>
<span class='kw'>end</span></pre>
      </td>
    </tr>
  </table>
</div>

</div>
  
</div>


  <div id="instance_method_details" class="method_details_list">
    <h2>Instance Method Details</h2>

    
      <div class="method_details first">
  <h3 class="signature first" id="class-instance_method">
  
    #<strong>class</strong>  &#x21d2; <tt>Object</tt> 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    
<p>Returns the classname as string</p>


  </div>
</div>
<div class="tags">
  
<p class="tag_title">Returns:</p>
<ul class="return">
  
    <li>
      
      
        <span class='type'></span>
      
      
      
        
        <div class='inline'>
<p>classname</p>
</div>
      
    </li>
  
</ul>
<p class="tag_title">Since:</p>
<ul class="since">
  
    <li>
      
      
      
      
        
        <div class='inline'>
<p>0.3.0</p>
</div>
      
    </li>
  
</ul>

</div><div class="source">
  <p class="source_link">Source:
    <button class="source_show">Show</button>
    |
    <a href="https://github.com/hanami/view/blob/v1.1.0.rc1/lib/hanami/view/rendering/layout_scope.rb#L39" target="_blank" class="github_url">on GitHub</a>
  </p>

  <table class="source_code">
    <tr>
      <td>
        <pre class="code"><span class='kw'>def</span> <span class='kw'>class</span>
  <span class='lparen'>(</span><span class='kw'>class</span> <span class='op'>&lt;&lt;</span> <span class='kw'>self</span><span class='semicolon'>;</span> <span class='kw'>self</span> <span class='kw'>end</span><span class='rparen'>)</span><span class='period'>.</span><span class='id identifier rubyid_superclass'>superclass</span>
<span class='kw'>end</span></pre>
      </td>
    </tr>
  </table>
</div>

</div>
    
      <div class="method_details ">
  <h3 class="signature " id="format-instance_method">
  
    #<strong>format</strong>  &#x21d2; <tt>Symbol</tt> 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    
<p>Returns the requested format.</p>


  </div>
</div>
<div class="tags">
  
<p class="tag_title">Returns:</p>
<ul class="return">
  
    <li>
      
      
        <span class='type'>(<tt>Symbol</tt>)</span>
      
      
      
        &mdash;
        <div class='inline'>
<p>the requested format (eg. :html, :json, :xml, etc..)</p>
</div>
      
    </li>
  
</ul>
<p class="tag_title">Since:</p>
<ul class="since">
  
    <li>
      
      
      
      
        
        <div class='inline'>
<p>0.1.0</p>
</div>
      
    </li>
  
</ul>

</div><div class="source">
  <p class="source_link">Source:
    <button class="source_show">Show</button>
    |
    <a href="https://github.com/hanami/view/blob/v1.1.0.rc1/lib/hanami/view/rendering/layout_scope.rb#L109" target="_blank" class="github_url">on GitHub</a>
  </p>

  <table class="source_code">
    <tr>
      <td>
        <pre class="code"><span class='kw'>def</span> <span class='id identifier rubyid_format'>format</span>
  <span class='ivar'>@scope</span><span class='period'>.</span><span class='id identifier rubyid_format'>format</span>
<span class='kw'>end</span></pre>
      </td>
    </tr>
  </table>
</div>

</div>
    
      <div class="method_details ">
  <h3 class="signature " id="inspect-instance_method">
  
    #<strong>inspect</strong>  &#x21d2; <tt>String</tt> 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    
<p>Returns an inspect String</p>


  </div>
</div>
<div class="tags">
  
<p class="tag_title">Returns:</p>
<ul class="return">
  
    <li>
      
      
        <span class='type'>(<tt>String</tt>)</span>
      
      
      
        &mdash;
        <div class='inline'>
<p>inspect String (contains classname, objectid in hex, available ivars)</p>
</div>
      
    </li>
  
</ul>
<p class="tag_title">Since:</p>
<ul class="since">
  
    <li>
      
      
      
      
        
        <div class='inline'>
<p>0.3.0</p>
</div>
      
    </li>
  
</ul>

</div><div class="source">
  <p class="source_link">Source:
    <button class="source_show">Show</button>
    |
    <a href="https://github.com/hanami/view/blob/v1.1.0.rc1/lib/hanami/view/rendering/layout_scope.rb#L48" target="_blank" class="github_url">on GitHub</a>
  </p>

  <table class="source_code">
    <tr>
      <td>
        <pre class="code"><span class='kw'>def</span> <span class='id identifier rubyid_inspect'>inspect</span>
  <span class='id identifier rubyid_base'>base</span> <span class='op'>=</span> <span class='tstring'><span class='tstring_beg'>&quot;</span><span class='tstring_content'>#&lt;</span><span class='embexpr_beg'>#{</span> <span class='kw'>self</span><span class='period'>.</span><span class='id identifier rubyid_class'>class</span> <span class='embexpr_end'>}</span><span class='tstring_content'>:</span><span class='embexpr_beg'>#{</span><span class='tstring'><span class='tstring_beg'>&#39;</span><span class='tstring_content'>%x</span><span class='tstring_end'>&#39;</span></span> <span class='op'>%</span> <span class='lparen'>(</span><span class='kw'>self</span><span class='period'>.</span><span class='id identifier rubyid_object_id'>object_id</span> <span class='op'>&lt;&lt;</span> <span class='int'>1</span><span class='rparen'>)</span><span class='embexpr_end'>}</span><span class='tstring_end'>&quot;</span></span>
  <span class='id identifier rubyid_base'>base</span> <span class='op'>&lt;&lt;</span> <span class='tstring'><span class='tstring_beg'>&quot;</span><span class='tstring_content'> @layout=\&quot;</span><span class='embexpr_beg'>#{</span><span class='ivar'>@layout</span><span class='period'>.</span><span class='id identifier rubyid_inspect'>inspect</span><span class='embexpr_end'>}</span><span class='tstring_content'>\&quot;</span><span class='tstring_end'>&quot;</span></span> <span class='kw'>if</span> <span class='ivar'>@layout</span>
  <span class='id identifier rubyid_base'>base</span> <span class='op'>&lt;&lt;</span> <span class='tstring'><span class='tstring_beg'>&quot;</span><span class='tstring_content'> @scope=\&quot;</span><span class='embexpr_beg'>#{</span><span class='ivar'>@scope</span><span class='period'>.</span><span class='id identifier rubyid_inspect'>inspect</span><span class='embexpr_end'>}</span><span class='tstring_content'>\&quot;</span><span class='tstring_end'>&quot;</span></span> <span class='kw'>if</span> <span class='ivar'>@scope</span>
  <span class='id identifier rubyid_base'>base</span> <span class='op'>&lt;&lt;</span> <span class='tstring'><span class='tstring_beg'>&quot;</span><span class='tstring_content'>&gt;</span><span class='tstring_end'>&quot;</span></span>
<span class='kw'>end</span></pre>
      </td>
    </tr>
  </table>
</div>

</div>
    
      <div class="method_details ">
  <h3 class="signature " id="local-instance_method">
  
    #<strong>local</strong>(key)  &#x21d2; <tt>Object</tt>, <tt><span class='object_link'><a href="NullLocal.html" title="Hanami::View::Rendering::NullLocal (class)">Hanami::View::Rendering::NullLocal</a></span></tt> 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    
<p>It tries to invoke a method for the view or a local for the given key. If
the lookup fails, it returns a null object.</p>


  </div>
</div>
<div class="tags">
  
  <div class="examples">
    <p class="tag_title">Examples:</p>
    
      
        <p class="example_title"><div class='inline'>
<p>Safe method navigation</p>
</div></p>
      
      <pre class="example code"><code>&lt;% if local(:plan).overdue? %&gt;
  &lt;h2&gt;Your plan is overdue.&lt;/h2&gt;
&lt;% end %&gt;</code></pre>
    
      
        <p class="example_title"><div class='inline'>
<p>Optional Contents</p>
</div></p>
      
      <pre class="example code"><code># Given the following layout template

&lt;!doctype HTML&gt;
&lt;html&gt;
  &lt;!-- ... --&gt;
  &lt;body&gt;
    &lt;!-- ... --&gt;
    &lt;%= local :footer %&gt;
  &lt;/body&gt;
&lt;/html&gt;

# Case 1:
#   Products::Index doesn&#39;t respond to #footer, local will return nil
#
# Case 2:
#   Products::Show responds to #footer, local will send back
#     #footer returning value

module Products
  class Index
    include Hanami::View
  end

  class Show
    include Hanami::View

    def footer
      &quot;contents for footer&quot;
    end
  end
end</code></pre>
    
  </div>

<p class="tag_title">Returns:</p>
<ul class="return">
  
    <li>
      
      
        <span class='type'>(<tt>Object</tt>, <tt><span class='object_link'><a href="NullLocal.html" title="Hanami::View::Rendering::NullLocal (class)">Hanami::View::Rendering::NullLocal</a></span></tt>)</span>
      
      
      
        &mdash;
        <div class='inline'>
<p>the returning value</p>
</div>
      
    </li>
  
</ul>
<p class="tag_title">Since:</p>
<ul class="since">
  
    <li>
      
      
      
      
        
        <div class='inline'>
<p>0.7.0</p>
</div>
      
    </li>
  
</ul>

</div><div class="source">
  <p class="source_link">Source:
    <button class="source_show">Show</button>
    |
    <a href="https://github.com/hanami/view/blob/v1.1.0.rc1/lib/hanami/view/rendering/layout_scope.rb#L175" target="_blank" class="github_url">on GitHub</a>
  </p>

  <table class="source_code">
    <tr>
      <td>
        <pre class="code"><span class='kw'>def</span> <span class='id identifier rubyid_local'>local</span><span class='lparen'>(</span><span class='id identifier rubyid_key'>key</span><span class='rparen'>)</span>
  <span class='kw'>if</span> <span class='id identifier rubyid_respond_to?'>respond_to?</span><span class='lparen'>(</span><span class='id identifier rubyid_key'>key</span><span class='rparen'>)</span>
    <span class='id identifier rubyid___send__'>__send__</span><span class='lparen'>(</span><span class='id identifier rubyid_key'>key</span><span class='rparen'>)</span>
  <span class='kw'>else</span>
    <span class='id identifier rubyid_locals'>locals</span><span class='period'>.</span><span class='id identifier rubyid_fetch'>fetch</span><span class='lparen'>(</span><span class='id identifier rubyid_key'>key</span><span class='rparen'>)</span> <span class='lbrace'>{</span> <span class='const'><span class='object_link'><a href="NullLocal.html" title="Hanami::View::Rendering::NullLocal (class)">NullLocal</a></span></span><span class='period'>.</span><span class='id identifier rubyid_new'>new</span><span class='lparen'>(</span><span class='id identifier rubyid_key'>key</span><span class='rparen'>)</span> <span class='rbrace'>}</span>
  <span class='kw'>end</span>
<span class='kw'>end</span></pre>
      </td>
    </tr>
  </table>
</div>

</div>
    
      <div class="method_details ">
  <h3 class="signature " id="locals-instance_method">
  
    #<strong>locals</strong>  &#x21d2; <tt>Hash</tt> 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    
<p>The current locals.</p>


  </div>
</div>
<div class="tags">
  
<p class="tag_title">Returns:</p>
<ul class="return">
  
    <li>
      
      
        <span class='type'>(<tt>Hash</tt>)</span>
      
      
      
        &mdash;
        <div class='inline'>
<p>the current locals</p>
</div>
      
    </li>
  
</ul>
<p class="tag_title">Since:</p>
<ul class="since">
  
    <li>
      
      
      
      
        
        <div class='inline'>
<p>0.1.0</p>
</div>
      
    </li>
  
</ul>

</div><div class="source">
  <p class="source_link">Source:
    <button class="source_show">Show</button>
    |
    <a href="https://github.com/hanami/view/blob/v1.1.0.rc1/lib/hanami/view/rendering/layout_scope.rb#L127" target="_blank" class="github_url">on GitHub</a>
  </p>

  <table class="source_code">
    <tr>
      <td>
        <pre class="code"><span class='kw'>def</span> <span class='id identifier rubyid_locals'>locals</span>
  <span class='ivar'>@locals</span> <span class='op'>||</span> <span class='ivar'>@scope</span><span class='period'>.</span><span class='id identifier rubyid_locals'>locals</span>
<span class='kw'>end</span></pre>
      </td>
    </tr>
  </table>
</div>

</div>
    
      <div class="method_details ">
  <h3 class="signature " id="render-instance_method">
  
    #<strong>render</strong>(options)  &#x21d2; <tt>String</tt> 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    
<p>Render a partial or a template within a layout template.</p>


  </div>
</div>
<div class="tags">
  
  <div class="examples">
    <p class="tag_title">Examples:</p>
    
      
        <p class="example_title"><div class='inline'>
<p>Rendering partial</p>
</div></p>
      
      <pre class="example code"><code># Given a partial under:
#   templates/shared/_sidebar.html.erb
#
# In the layout template:
#   templates/application.html.erb
#
# Use like this:
&lt;%= render partial: &#39;shared/sidebar&#39; %&gt;</code></pre>
    
      
        <p class="example_title"><div class='inline'>
<p>Rendering template</p>
</div></p>
      
      <pre class="example code"><code># Given a template under:
#   templates/articles/index.html.erb
#
# In the layout template:
#   templates/application.html.erb
#
# Use like this:
&lt;%= render template: &#39;articles/index&#39; %&gt;</code></pre>
    
      
        <p class="example_title"><div class='inline'>
<p>Rendering partial, using optional :locals</p>
</div></p>
      
      <pre class="example code"><code># Given a partial under:
#   templates/shared/_sidebar.html.erb
#
# In the layout template:
#   templates/application.html.erb
#
# Use like this:
&lt;%= render partial: &#39;shared/sidebar&#39;, { user: current_user } %&gt;

#
# `user` will be available in the scope of the sidebar rendering</code></pre>
    
  </div>
<p class="tag_title">Parameters:</p>
<ul class="param">
  
    <li>
      
        <span class='name'>options</span>
      
      
        <span class='type'>(<tt>Hash</tt>)</span>
      
      
      
    </li>
  
</ul>

  
    
    
    <p class="tag_title">Options Hash (<tt>options</tt>):</p>
    <ul class="option">
      
        <li>
          <span class="name">:partial</span>
          <span class="type">(<tt>String</tt>)</span>
          <span class="default">
            
          </span>
          
            &mdash; <div class='inline'>
<p>the partial template to render</p>
</div>
          
        </li>
      
        <li>
          <span class="name">:template</span>
          <span class="type">(<tt>String</tt>)</span>
          <span class="default">
            
          </span>
          
            &mdash; <div class='inline'>
<p>the template to render</p>
</div>
          
        </li>
      
    </ul>
  

<p class="tag_title">Returns:</p>
<ul class="return">
  
    <li>
      
      
        <span class='type'>(<tt>String</tt>)</span>
      
      
      
        &mdash;
        <div class='inline'>
<p>the output of the rendering process</p>
</div>
      
    </li>
  
</ul>
<p class="tag_title">Raises:</p>
<ul class="raise">
  
    <li>
      
      
        <span class='type'>(<tt>Hanami::Error::UnknownRenderTypeError</tt>)</span>
      
      
      
        &mdash;
        <div class='inline'>
<p>if the given type to be rendered is unknown</p>
</div>
      
    </li>
  
</ul>
<p class="tag_title">Since:</p>
<ul class="since">
  
    <li>
      
      
      
      
        
        <div class='inline'>
<p>0.1.0</p>
</div>
      
    </li>
  
</ul>

</div><div class="source">
  <p class="source_link">Source:
    <button class="source_show">Show</button>
    |
    <a href="https://github.com/hanami/view/blob/v1.1.0.rc1/lib/hanami/view/rendering/layout_scope.rb#L100" target="_blank" class="github_url">on GitHub</a>
  </p>

  <table class="source_code">
    <tr>
      <td>
        <pre class="code"><span class='kw'>def</span> <span class='id identifier rubyid_render'>render</span><span class='lparen'>(</span><span class='id identifier rubyid_options'>options</span><span class='rparen'>)</span>
  <span class='id identifier rubyid_renderer'>renderer</span><span class='lparen'>(</span><span class='id identifier rubyid_options'>options</span><span class='rparen'>)</span><span class='period'>.</span><span class='id identifier rubyid_render'>render</span>
<span class='kw'>end</span></pre>
      </td>
    </tr>
  </table>
</div>

</div>
    
      <div class="method_details ">
  <h3 class="signature " id="view-instance_method">
  
    #<strong>view</strong>  &#x21d2; <tt><span class='object_link'><a href="../../View.html" title="Hanami::View (module)">Hanami::View</a></span></tt> 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    
<p>The current view.</p>


  </div>
</div>
<div class="tags">
  
<p class="tag_title">Returns:</p>
<ul class="return">
  
    <li>
      
      
        <span class='type'>(<tt><span class='object_link'><a href="../../View.html" title="Hanami::View (module)">Hanami::View</a></span></tt>)</span>
      
      
      
        &mdash;
        <div class='inline'>
<p>the current view</p>
</div>
      
    </li>
  
</ul>
<p class="tag_title">Since:</p>
<ul class="since">
  
    <li>
      
      
      
      
        
        <div class='inline'>
<p>0.1.0</p>
</div>
      
    </li>
  
</ul>

</div><div class="source">
  <p class="source_link">Source:
    <button class="source_show">Show</button>
    |
    <a href="https://github.com/hanami/view/blob/v1.1.0.rc1/lib/hanami/view/rendering/layout_scope.rb#L118" target="_blank" class="github_url">on GitHub</a>
  </p>

  <table class="source_code">
    <tr>
      <td>
        <pre class="code"><span class='kw'>def</span> <span class='id identifier rubyid_view'>view</span>
  <span class='ivar'>@view</span> <span class='op'>||</span> <span class='ivar'>@scope</span><span class='period'>.</span><span class='id identifier rubyid_view'>view</span>
<span class='kw'>end</span></pre>
      </td>
    </tr>
  </table>
</div>

</div>
    
  </div>


        </main>
      </div>
    </div>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>

    <!-- Include jQuery (required) and the JS -->
    
    
      <script type="text/javascript" charset="utf-8" src="../../../assets/toolkit.min.js"></script>
    
      <script type="text/javascript" charset="utf-8" src="../../../assets/site.js"></script>
    
  </body>
</html>
